extends layout 

block content 
    h1.text-center.mt-4.mb-4= title
    form(method="POST", action="/user")
        .mb-3
            label.form-label(for='name') Ismingiz
            input#name.form-control(type='text' name='name')
        .mb-3
            label.form-label(for='username') Foydalanuvchi ismingiz
            input#username.form-control(type='text' name="username")
        .mb-3
            label.form-label(for='email') Emailingiz
            input#email.form-control(type='email' name="email")
        .mb-3
            label.form-label(for='password') Parolingiz
            input#password.form-control(type='password' name="password")
        .mb-3
            label.form-label(for='password2') Parolingizni tasdiqlang
            input#password2.form-control(type='password' name="password2")
        .mb-3 
            button.btn.btn-primary(type='submit') Junatish 
